<h1>Trainings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-100" scope="col">Time</th>
      <th class="w-auto">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @times.empty? %>
      <tr>
        <td colspan="2">No trainings found</td>
      </tr>
    <% else %>
      <% @times.each do |time| %>
        <tr>
          <td><%= time %></td>
          <td><a href="<%= training_details_path(@date, time) %>">details</a></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

