<h1>Workouts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-100" scope="col">Time</th>
      <th class="w-auto">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @workouts.exists? %>
      <% @workouts.each do |workout| %>
        <tr>
          <td><%= print_time workout.start %></td>
          <td><a href="<%= workout_details_path workout.id %>">details</a></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No workouts found</td>
      </tr>
    <% end %>
  </tbody>
</table>

