<h1>Dates</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-auto" scope="col">Date</th>
      <th class="w-100" scope="col">Workouts</th>
      <th class="w-auto">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @workout_dates.exists? %>
      <% @workout_dates.each do |workout_date| %>
        <tr>
          <td><%= print_date workout_date.start %></td>
          <td><%= workout_date.total %></td>
          <td><a href="<%= workout_list_path(print_date workout_date.start) %>">details</a></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No dates found</td>
      </tr>
    <% end %>
  </tbody>
</table>

